{% extends 'base.html.twig' %}

{% block title %}New Arrazoia{% endblock %}

{% block body %}
    <h1>Create new Arrazoia</h1>

    {{ include('arrazoia/_form.html.twig') }}

    <a href="{{ path('arrazoia_index') }}">back to list</a>
{% endblock %}
