{% extends 'base.html.twig' %}

{% block title %}New SailkapenTaldea{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ "Sailkapen talde berria" | trans }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-primary" href="{{ path('sailkapen_taldea_index') }}">{{ "Itzuli zerrendara" | trans }}</a>
            </div>
        </div>
    </div>

    {{ include('sailkapen_taldea/_form.html.twig') }}

{% endblock %}
