<form method="post" action="{{ path('employee_zerrenda_type_delete', {'id': employee_zerrenda_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee_zerrenda_type.id) }}">
    <button class="btn">Delete</button>
</form>
