{% extends 'base.html.twig' %}

{% block title %}{{ "Zerrenda berria" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Zerrenda berria" | trans }}</h1>

    {{ include('zerrenda/_form.html.twig') }}


{% endblock %}
