{% extends 'vue.html.twig' %}

{% block title %}Zerrendaren jarraipena{% endblock %}

{% block sf_data %}
    <div ref="zerrenda" data-zerrenda="{{ zerrenda|e }}">{{ zerrenda|e }}</div>

{% endblock %}
