{% extends 'base.html.twig' %}


{% block body %}

    <h1>Kaixo</h1>


    <a class="btn btn-primary" href="{{ path('admin_dashboard') }}">Admin gunea</a>
    <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>

{% endblock  %}
