{% extends 'base.html.twig' %}

{% block title %}New Municipio{% endblock %}

{% block body %}
    <h1>Create new Municipio</h1>

    {{ include('municipio/_form.html.twig') }}

    <a href="{{ path('municipio_index') }}">back to list</a>
{% endblock %}
