<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <h4>Dokumentuak</h4>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{{ "Fitxategia" | trans }}</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for ezt in ezts %}
                <tr>
                    <td>{{ ezt.document }}</td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
